.weather {
  border: 2px solid black;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  max-width: 800px;
  font-family: "Comfortaa", cursive;
}
.city {
  text-align: left;
  font-size: 40px;
  font-weight: 600px;
  font-family: "Rubik Moonrocks", cursive;
  color: rgb(99, 96, 96);
}

.form-input {
  display: block;
  position: absolute;
  margin-top: 40px;
  text-align: center;
}
.temp {
  text-align: left;
  font-weight: bold;
  font-family: "Rampart One", cursive;
  font-size: 40px;
  color: rgb(99, 96, 96);
}
.change-temp {
  display: block;
  text-align: right;
  padding-right: 50px;
  text-decoration: none;
}
.block-1 {
  display: block;
  text-align: center;
  position: relative;
  margin-top: 20px;
  font-size: 26px;
  font-weight: bold;
}
img {
  display: block;
  margin-top: -30px;
}
.block-2 {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
form {
  display: block;
}

.copyright {
  display: block;
  text-align: center;
  font-family: "Comfortaa", cursive;
}
